In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
sns.set()

In [2]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

### Train Data

In [3]:
train.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,2012-10-02 09:00:00,None,121,89,2,329,1,1,288.28,0.0,0.0,40,Clouds,scattered clouds,5545
1,2012-10-02 10:00:00,None,178,67,3,330,1,1,289.36,0.0,0.0,75,Clouds,broken clouds,4516
2,2012-10-02 11:00:00,None,113,66,3,329,2,2,289.58,0.0,0.0,90,Clouds,overcast clouds,4767
3,2012-10-02 12:00:00,None,20,66,3,329,5,5,290.13,0.0,0.0,90,Clouds,overcast clouds,5026
4,2012-10-02 13:00:00,None,281,65,3,329,7,7,291.14,0.0,0.0,75,Clouds,broken clouds,4918

In [4]:
train.columns

Index(['date_time', 'is_holiday', 'air_pollution_index', 'humidity',
       'wind_speed', 'wind_direction', 'visibility_in_miles', 'dew_point',
       'temperature', 'rain_p_h', 'snow_p_h', 'clouds_all', 'weather_type',
       'weather_description', 'traffic_volume'],
      dtype='object')

In [5]:
train['is_holiday']=train['is_holiday'].str.lower()
train['weather_type']=train['weather_type'].str.lower()
train['weather_description']=train['weather_description'].str.lower()

In [6]:
train.loc[train['is_holiday'] == 'none', 'is_holiday'] = 0

In [7]:
train.loc[train['is_holiday'] != 0, 'is_holiday'] = 1

In [8]:
train.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,2012-10-02 09:00:00,0,121,89,2,329,1,1,288.28,0.0,0.0,40,clouds,scattered clouds,5545
1,2012-10-02 10:00:00,0,178,67,3,330,1,1,289.36,0.0,0.0,75,clouds,broken clouds,4516
2,2012-10-02 11:00:00,0,113,66,3,329,2,2,289.58,0.0,0.0,90,clouds,overcast clouds,4767
3,2012-10-02 12:00:00,0,20,66,3,329,5,5,290.13,0.0,0.0,90,clouds,overcast clouds,5026
4,2012-10-02 13:00:00,0,281,65,3,329,7,7,291.14,0.0,0.0,75,clouds,broken clouds,4918

### Test Data

In [9]:
test.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description
0,2017-05-18 00:00:00,None,73,63,1,27,4,4,285.15,0.0,0,90,Rain,moderate rain
1,2017-05-18 00:00:00,None,251,63,1,27,4,4,285.15,0.0,0,90,Mist,mist
2,2017-05-18 00:00:00,None,75,56,1,0,1,1,285.15,0.0,0,90,Drizzle,light intensity drizzle
3,2017-05-18 01:00:00,None,98,56,1,351,2,2,284.79,0.0,0,90,Rain,heavy intensity rain
4,2017-05-18 01:00:00,None,283,56,1,351,1,1,284.79,0.0,0,90,Mist,mist

In [10]:
test.columns

Index(['date_time', 'is_holiday', 'air_pollution_index', 'humidity',
       'wind_speed', 'wind_direction', 'visibility_in_miles', 'dew_point',
       'temperature', 'rain_p_h', 'snow_p_h', 'clouds_all', 'weather_type',
       'weather_description'],
      dtype='object')

In [11]:
test['is_holiday']=test['is_holiday'].str.lower()
test['weather_type']=test['weather_type'].str.lower()
test['weather_description']=test['weather_description'].str.lower()

In [12]:
test.loc[test['is_holiday'] == 'none', 'is_holiday'] = 0

In [13]:
test.loc[test['is_holiday'] != 0, 'is_holiday'] = 1

In [14]:
test.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description
0,2017-05-18 00:00:00,0,73,63,1,27,4,4,285.15,0.0,0,90,rain,moderate rain
1,2017-05-18 00:00:00,0,251,63,1,27,4,4,285.15,0.0,0,90,mist,mist
2,2017-05-18 00:00:00,0,75,56,1,0,1,1,285.15,0.0,0,90,drizzle,light intensity drizzle
3,2017-05-18 01:00:00,0,98,56,1,351,2,2,284.79,0.0,0,90,rain,heavy intensity rain
4,2017-05-18 01:00:00,0,283,56,1,351,1,1,284.79,0.0,0,90,mist,mist

### Weather Data

In [15]:
weather=pd.DataFrame(train['weather_type'])
weather.shape

(33750, 1)

In [16]:
weather['weather_description']=train['weather_description']
weather=weather.drop_duplicates()
weather.shape

(37, 2)

In [17]:
weather=weather.sort_values('weather_type')
weather=weather.reset_index()
weather=weather.drop('index',axis=1)

In [18]:
weather['weather_funct']=np.zeros((37,),dtype=int)

In [19]:
weather['weather_type'].unique()

array(['clear', 'clouds', 'drizzle', 'fog', 'haze', 'mist', 'rain',
       'smoke', 'snow', 'squall', 'thunderstorm'], dtype=object)

In [20]:
weather['weather_funct'] = weather.weather_type.map({'clear':0,'clouds':1,'drizzle':2,'fog':3,'haze':4,'mist':5,'rain':6,
       'smoke':7,'snow':8,'squall':9,'thunderstorm':10})

In [21]:
a=list(weather['weather_funct'])
print(a)

[0, 1, 1, 1, 1, 2, 2, 2, 2, 3, 4, 5, 6, 6, 6, 6, 6, 6, 6, 7, 8, 8, 8, 8, 8, 8, 8, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10]

In [22]:
a=[0.00, 1.00, 1.25, 1.50, 1.75, 2.00, 2.25, 2.50, 2.75, 3.00, 4.00, 5.00, 6.00, 6.14, 6.28, 6.42, 6.56, 6.70, 6.84, 7.00,
    8.00, 8.14, 8.28, 8.42, 8.56, 8.70, 8.84, 9.00, 10.00, 10.11, 10.22, 10.33, 10.44, 10.55, 10.66, 10.77, 10.88]

weather['weather_funct']=a

In [23]:
weather.head()

  weather_type weather_description  weather_funct
0        clear        sky is clear           0.00
1       clouds    scattered clouds           1.00
2       clouds       broken clouds           1.25
3       clouds     overcast clouds           1.50
4       clouds          few clouds           1.75

In [24]:
weather=weather.drop('weather_type',axis=1)

### Train Weather and Prep

In [25]:
train = pd.merge(train, weather, how='left', on=['weather_description'])

In [26]:
train.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume,weather_funct
0,2012-10-02 09:00:00,0,121,89,2,329,1,1,288.28,0.0,0.0,40,clouds,scattered clouds,5545,1.00
1,2012-10-02 10:00:00,0,178,67,3,330,1,1,289.36,0.0,0.0,75,clouds,broken clouds,4516,1.25
2,2012-10-02 11:00:00,0,113,66,3,329,2,2,289.58,0.0,0.0,90,clouds,overcast clouds,4767,1.50
3,2012-10-02 12:00:00,0,20,66,3,329,5,5,290.13,0.0,0.0,90,clouds,overcast clouds,5026,1.50
4,2012-10-02 13:00:00,0,281,65,3,329,7,7,291.14,0.0,0.0,75,clouds,broken clouds,4918,1.25

In [27]:
y=train['traffic_volume']
x=train.drop(['date_time','traffic_volume','weather_type','weather_description'],axis=1)

### Test Weather and Prep

In [28]:
test=pd.merge(test, weather, how='left', on=['weather_description'])

In [29]:
test.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,weather_funct
0,2017-05-18 00:00:00,0,73,63,1,27,4,4,285.15,0.0,0,90,rain,moderate rain,6.14
1,2017-05-18 00:00:00,0,251,63,1,27,4,4,285.15,0.0,0,90,mist,mist,5.00
2,2017-05-18 00:00:00,0,75,56,1,0,1,1,285.15,0.0,0,90,drizzle,light intensity drizzle,2.75
3,2017-05-18 01:00:00,0,98,56,1,351,2,2,284.79,0.0,0,90,rain,heavy intensity rain,6.28
4,2017-05-18 01:00:00,0,283,56,1,351,1,1,284.79,0.0,0,90,mist,mist,5.00

In [30]:
test_labels=test['date_time']
test_data=test.drop(['date_time','weather_type','weather_description'],axis=1)

### Modelling

In [31]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x = scaler.fit_transform(x)
test_data = scaler.transform(test_data)

In [32]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

In [33]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [34]:
from xgboost import XGBRegressor

In [35]:
xgb = XGBRegressor(n_estimators=100, learning_rate=0.08, gamma=0, subsample=0.75,
                           colsample_bytree=1, max_depth=7)

In [36]:
xgb.fit(x_train,y_train)

C:\Users\USER\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, importance_type='gain',
       learning_rate=0.08, max_delta_step=0, max_depth=7,
       min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
       nthread=None, objective='reg:linear', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=True,
       subsample=0.75)

In [37]:
pred=xgb.predict(x_test)
rmse=sqrt(mean_squared_error(y_test,pred))
rmse

1874.7181141406306

In [38]:
test_pred=xgb.predict(test_data).astype(int)

In [40]:
submission = pd.DataFrame(test_labels,columns=['date_time'])

submission['traffic_volume']=test_pred
submission.to_csv("sub_xgb.csv",index=False)

In [41]:
len(submission['traffic_volume'].unique())

3043

score=99.10204

### Fine Tuning

In [42]:
import xgboost as xgb

In [43]:
dtrain = xgb.DMatrix(x_train, label=y_train) 
dvalid = xgb.DMatrix(x_test, label=y_test) 
dtest = xgb.DMatrix(test_data)

C:\Users\USER\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

In [77]:
params = {
    'booster':'dart',
    'objective':'reg:linear',
    'eval_metric':'rmse', 
    'eta':0.03,
    'max_depth':8,
    'min_child_weight':5,
    'subsample':0.9,
    'colsample_bytree':0.8,
    'alpha':0.005
 }

In [78]:
xg = xgb.train(
    params,
    dtrain,
    num_boost_round=100,
    maximize=True
)

In [79]:
predict=xg.predict(dvalid)

In [80]:
rmse=sqrt(mean_squared_error(y_test,predict))
rmse

1903.823403288153

In [90]:
test_pred=xg.predict(dtest).astype(int)
submission = pd.DataFrame(test_labels,columns=['date_time'])

submission['traffic_volume']=test_pred
submission.to_csv("sub_xgb-tune0.csv",index=False)

len(submission['traffic_volume'].unique())

2636

In [91]:
submission.head(10)

             date_time  traffic_volume
0  2017-05-18 00:00:00            3042
1  2017-05-18 00:00:00            3003
2  2017-05-18 00:00:00            3236
3  2017-05-18 01:00:00            3131
4  2017-05-18 01:00:00            3105
5  2017-05-18 02:00:00            3219
6  2017-05-18 02:00:00            3175
7  2017-05-18 02:00:00            3092
8  2017-05-18 03:00:00            3199
9  2017-05-18 03:00:00            3184